body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #333;
}

/* Creating task form */
.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.task-form button {
    padding: 10px 15px;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.task-form button:hover {
    background: #45a049;
}

/* Task list */
.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Task card */
.task {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task h3 {
    margin: 0;
}

.task p {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

/* Buttons */
.task-actions button {
    margin-left: 5px;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.done {
    background: #2196f3;
    color: white;
}

.delete {
    background: #f44336;
    color: white;
}

/* Completed task */

.completed {
    opacity: 1;
}

.completed h3,
.completed p {
    opacity: 0.4;
}

/* Верхняя панель */
.top-bar {
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 1000;
}

/* Кнопка авторизации */
#authBtn {
    padding: 8px 16px;
    border: none;
    background: #333;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

#authBtn:hover {
    background: #555;
}

/* Чтоб контент не "лип" к верху */
.container {
    width: 600px;
    margin: 100px auto 50px;
}

/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide modal */
.hidden {
    display: none;
}

/* Modal box */
.modal-content {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Button */
.modal-content button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #f44336;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #d32f2f;
}