<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">

    <h1>Login</h1>

    <div class="login-form">
        <input type="text" id="username" placeholder="Login">
        <input type="password" id="password" placeholder="Password">
        <button id="loginBtn">Login</button>
    </div>

    <p class="register-link">
        Don't have an account? <button id="reg_btn">Register</button>
    </p>
    <p class="" id="label"></p>

</div>

</body>
<script th:src="@{/scripts/login.js}"></script>
</html>