<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">

    <h1>Registration</h1>

    <div class="login-form">
        <input type="text" id="username" placeholder="Login">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <input type="password" id="passwordRepeat" placeholder="Repeat your password">
        <button id="regBtn">Register</button>
    </div>

    <p class="register-link">
        Already have an account? <button id="log_btn">Login</button>
    </p>
    <p class="" id="label"></p>

</div>

</body>
<script th:src="@{/scripts/registration.js}"></script>
</html>