<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" th:href="@{/css/tasks.css}">
</head>
<body>
    <div class="top-bar">
        <button id="authBtn">Войти</button>
    </div>

<div class="container">

    <h1>Task Manager</h1>


    <!-- Creating task form -->
    <div class="task-form">
        <input type="text" placeholder="Название задачи" id="taskTitle">
        <input type="text" placeholder="Описание" id="taskDescription">
        <button id="addBtn">Add</button>
    </div>

    <!-- Task list-->
    <div class="task-list" id="task-list">

    </div>

</div>

<script th:src="@{/scripts/tasks.js}"></script>
</body>
</html>